/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/navbar/navbar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_navbar__GSgRc {
  position: absolute;
  top: 0;
  left: -280px;
  width: 350px;
  height: 100vh;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  color: black;
}

.navbar_navbarLeft__KMVRO {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 20%;
  background-color: #323131;
}

.navbar_button__WhHfr {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_navbarOpen__UGuqg {
  left: 0;
}

.navbar_navbarRight__h780S {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  background-color: #bbbbbb;
}

.navbar_navbarButton__B4qwb {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar_navbarButton__B4qwb:hover {
  background-color: #323131;
  color: rgb(69, 234, 69);
}

.navbar_navbar__GSgRc h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/arbre-carrousel/arbre-carrousel.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.arbre-carrousel_buttons__nNNSz {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/arbre-list/arbre-list.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.arbre-list_arbreList__km3nf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.arbre-list_arbreBox__BhyXE {
  margin-top: 20px;
  text-align: center;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/arbre/arbre-page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.arbre-page_arbrePage__EsPSU {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #5a5a5a;
}

.arbre-page_arbreBox__ERTEH {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 50vw;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: black;
}

.arbre-page_title__7q_C2 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  width: 70vw;
  color: rgb(38, 222, 38);
}

.arbre-page_listButton__DKt7c {
  position: absolute;
  top: 10%;
  right: 5%;
}

